#map {
  width: 100%;
  height: 90%;
  position: absolute;
  margin:0;
  padding:0; 
  border: 1px solid black;
  border-radius: 8px;
}
.overlay {

	width: 50%;
    position: absolute;
    top: 4.5rem;
    left: 4em;


    z-index: 1000
}